

<div class="container">
  <div class="col-md col-sm col-xs-12">
    <div class="card my-5">
    <div class="card-header bleu">Ajouter Spectateur
     </div>
  
    
     <div class="card-body">
      <form #f="ngForm" (ngSubmit)="OnSaveSpectateur(f.value)">
     <div class="form-groupe">
      <label class="controle-label"> Nom</label>
      <input class="form-control" type="text" name="nom" ngModel>
    </div>
    <div class="form-groupe">
      <label class="controle-label"> Cin</label>
      <input class="form-control" type="text" name="cin" ngModel>
    </div>
    <div class="form-groupe">
      <label class="controle-label"> Num Passaport</label>
      <input class="form-control" type="text" name="num_passaport" ngModel>
    </div>
    
    <div class="form-groupe"  >
      <label class="controle-label">Match </label>
      <select class="form-control" name ="jeus"  ngModel>
        <option>Selectionner un Match</option>
        <option *ngFor="let t of matchs " [value]="t.id">{{t.lieu}} </option>
    </select>
  </div> 
    <br>
     <button class="btn btn-success" type="submit" >Enregistrer</button>
     <button class="btn btn-danger" routerLink="/spectateurs"  >Annuler</button>
    
      </form>
    
    <div class="card-footer text-muted">
      <br>
     </div> 
  </div>
</div>
</div>



