

<div class="container">
    <div class="col-md col-sm col-xs-12">
      <div class="card my-5">
      <div class="card-header bleu">Modifier Spectateur
       </div>
    
      
       <div class="card-body" >
        <form  (ngSubmit)="onSubmit()">
          <div class="form-groupe">
            <label class="controle-label"> Id</label>
            <input class="form-control" readonly="readonly" type="text" name="id" ngModel [(ngModel)]="spectateur.id">
          </div>
            <div class="form-groupe">
        <label class="controle-label"> Nom</label>
        <input class="form-control" type="text" name="nom" ngModel [(ngModel)]="spectateur.nom">
      </div>
     
      <div class="form-groupe">
        <label class="controle-label">Cin </label>
        <input class="form-control" type="number" name="cin" ngModel [(ngModel)]="spectateur.cin">
      </div>
      <div class="form-groupe">
        <label class="controle-label">Num Passaport </label>
        <input class="form-control" type="number" name="num_passaport" ngModel [(ngModel)]="spectateur.num_passaport">
      </div>
      <div class="form-groupe"  >
        <label class="controle-label">Match </label>
        
        <select class="form-control" name ="jeus"  ngModel [(ngModel)]="spectateur.jeus.id">
          <option>Selectionner un Match</option>
          <option *ngFor="let t of matchs " [value]="t.id">{{t.lieu}} </option>
      </select>
       
      </div>
      <br>
       <button class="btn btn-success" type="submit" >Update</button>
       <button class="btn btn-danger" routerLink="/spectateurs"  >Annuler</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        <br>
       </div> 
    </div>
  </div>
  </div>
  
  
  
  