
<div class="container">
    <div class="card my-5">
        <div class="card-header bleu">
            Gestion Equipes
           </div>
        <div class="card-body">
         <br>
            <table align="center">
                <tr>
                    <td>
                        <button  class="btn btn-primary" (click)="onGetEquipe()">Liste Equipes</button>
                    </td>
                    <td>
                        <a type="button"  routerLink="/ajoutereq" class="btn btn-success" >Ajouter Equipe</a>
                    </td>
                </tr>
             </table>
            
             <br><br>
            <table *ngIf="equipes" class="table  table-striped">
                <thead class="scope">
                    <tr>  
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">effectif</th>
                        <th scope="col">Match Lieu</th>
                        
                        <th scope="col"  >Modifier</th>
                      <th scope="col"  >Supprimer</th>
    
        
                    </tr>
                </thead>
            
          <tbody>
            <tr *ngFor="let eq of equipes ;let j=index">
                <td>{{ eq.id }}</td>
                <td>{{ eq.nom }}</td>
                <td>{{ eq.effectif }}</td>
                <td>{{ eq.jeus.lieu }}</td>
                 
                
                        <td>
                            <button type="button" class="btn btn-info" [routerLink]="['/modifiereq',eq.id]">Modifier</button>
                        </td>
                        <td>
                            <button type="button"  class="btn btn-danger" (click)="onDeleteEquipe(eq.id)">Delete</button>
                        </td>
                    
            </tr>
          </tbody>
            </table>
            
               
        </div>
          <div class="card-footer text-muted">
            <br>
           </div> 
     </div>
        
      </div>
        
        