

<div class="container">
    <div class="col-md col-sm col-xs-12">
      <div class="card my-5">
      <div class="card-header bleu">Ajouter Equipe
       </div>
    
      
       <div class="card-body">
        <form #f="ngForm" (ngSubmit)="OnSaveEquipe(f.value)">
       <div class="form-groupe">
        <label class="controle-label"> Nom</label>
        <input class="form-control" type="text" name="nom" ngModel>
      </div>
      <div class="form-groupe">
        <label class="controle-label"> Effectif</label>
        <input class="form-control" type="text" name="effectif" ngModel>
      </div>
      <div class="form-groupe"  >
        <label class="controle-label">Match </label>
        <select class="form-control" name ="jeus"  ngModel>
          <option>Selectionner un Match</option>
          <option *ngFor="let t of matchs " [value]="t.id">{{t.lieu}} </option>
      </select>
       
      </div>
      
      <br>
       <button class="btn btn-success" type="submit" >Enregistrer</button>
       <button class="btn btn-danger" routerLink="/equipes"  >Annuler</button>
      
        </form>
      </div>
      <div class="card-footer text-muted">
        <br>
       </div> 
    </div>
  </div>
  </div>
  
  
  
  